* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(58, 25, 88);
}

div.menu {
    position: relative;
    height: 100vh;
    width: 300px;
    background-image: linear-gradient(180deg, rgb(179, 29, 140, 50%), #374c92, rgb(116, 32, 121, 70%));
    animation: TransitioningBackground 15s ease infinite;
    -o-animation: TransitioningBackground 15s ease infinite;
    -moz-animation: TransitioningBackground 15s ease infinite;
    -webkit-animation: TransitioningBackground 15s ease infinite;
    background-size: 400% 400%;
    overflow: hidden;
    border-radius: 0 5px 5px 0;
    box-shadow: rgb(0, 0, 0, 0.5) 0px 0px 100px 0px,
        rgb(255, 255, 255, 0.5) 0px 0px 100px -60px;

}

ul {
    position: absolute;
    width: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;

}

li {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin-top: 20px;

}

li:nth-child(1) {
    margin-top: 60px;
}

li::after {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 80px;
    background: rgba(255, 255, 255, 0.5);
    filter: blur(40px);
    -webkit-filter: blur(40px);
    transform: skewX(-50deg);
    -o-transform: skewX(-50deg);
    -ms-transform: skewX(-50deg);
    -moz-transform: skewX(-50deg);
    -webkit-transform: skewX(-50deg);
    top: 0;
    left: -150px;
    transition: 2s;
    -o-transition: 2s;
    -webkit-transition: 2s;
    transition-delay: .1s;
}

li::before {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 80px;
    background: rgba(255, 255, 255, 0.5);
    filter: blur(40px);
    -webkit-filter: blur(40px);
    transform: skewX(-50deg);
    -o-transform: skewX(-50deg);
    -ms-transform: skewX(-50deg);
    -moz-transform: skewX(-50deg);
    -webkit-transform: skewX(-50deg);
    top: 0;
    left: -150px;
    transition: 2s;
    -o-transition: 2s;
    -webkit-transition: 2s;

}

li:hover {

    font-size: 1.2rem;
    font-weight: 700;
}

li:hover::after,
li:hover::before {
    left: 150%;
}

@keyframes TransitioningBackground {
    0% {
        background-position: 1% 0%;
    }

    50% {
        background-position: 90% 100%;
    }

    100% {
        background-position: 1% 0%;
    }
}

ul li a {
    text-decoration: none;
    text-transform: uppercase;
    line-height: 80px;
    color: rgb(255, 240, 255);
    letter-spacing: 4px;
    transition: 1s;
}

div.circle-box {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

p {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0;
    opacity: 0;
    color: rgb(255, 255, 255, 0.6);
    text-shadow: 2px 2px 3px rgb(0, 0, 0, 0.3);
    line-height: 40px;
    font-family: 'Kumbh Sans', sans-serif;
    animation: text 9s linear;
    -o-animation: text 9s linear;
    -moz-animation: text 9s linear;
    -webkit-animation: text 9s linear;
    animation-delay: 3.5s;

}

a {
    position: relative;

}

i {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: rgb(23, 23, 23);
    animation: font 1s backwards;
    -o-animation: font 1s backwards;
    -moz-animation: font 1s backwards;
    -webkit-animation: font 1s backwards;
    animation-delay: 13s;
    transition: .5s;
}

i:hover {
    font-size: 120px;
}


.circle {
    position: absolute;
    border-radius: 50%;
    background-color: rgb(245, 245, 245, 5%);
    animation: circle1 2s ease;
    -o-animation: circle1 2s ease;
    -moz-animation: circle1 2s ease;
    -webkit-animation: circle1 2s ease;
    animation-delay: .5s;
}

.circle::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: rgba(88, 83, 83, 0.2);
    animation: pseudoclass1 2s ease;
    -o-animation: pseudoclass1 2s ease;
    -moz-animation: pseudoclass1 2s ease;
    -webkit-animation: pseudoclass1 2s ease;
    animation-delay: 2.5s;
}

.circle::before {
    content: "";
    display: block;
    position: absolute;
    width: 50vh;
    height: 50vh;
    opacity: 0;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 5%);
    top: 50%;
    left: 50%;
    filter: blur(2px);
    transform: translate(-50%, -50%);
    animation: pseudoclass2 10s linear;
    -o-animation: pseudoclass2 10s linear;
    -moz-animation: pseudoclass2 10s linear;
    -webkit-animation: pseudoclass2 10s linear;
    animation-delay: 3.5s;
}

@keyframes circle1 {
    0% {
        width: 0;
        height: 0;
    }

    100% {
        top: 30%;
        left: 30%;
        transform: translate(-50%, -100%);
        width: 30vh;
        height: 30vh;
        opacity: 0;
    }
}

@keyframes pseudoclass1 {
    0% {
        width: 0;
        height: 0;
    }

    100% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -10%);
        width: 40vh;
        height: 40vh;
        opacity: 0;
    }
}

@keyframes pseudoclass2 {
    0% {
        width: 0;
        height: 0;
    }

    90% {

        opacity: 1;

    }

    100% {
        opacity: 0;
    }
}

@keyframes text {
    85% {
        font-size: 5vh;
        opacity: 1;
    }

    100% {
        line-height: 50px;
        font-size: 10vh;
        opacity: 0;
    }
}

@keyframes font {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@media (max-width: 1024px) {

    div.menu {
        width: 200px;
    }

    ul {
        margin-top: 5px;
    }

    li {
        font-size: 12px;
        margin-top: 5px;
    }

    li:nth-child(1) {
        margin-top: 10px;
    }

    div.circle-box {
        left: 60%;
        transform: translate(-50%, -50%);
    }
}

@keyframes text {
    85% {
        font-size: 3vh;
        opacity: 1;
    }

    100% {
        line-height: 50px;
        font-size: 7vh;
        opacity: 0;
    }
}

@media (max-width: 640px) {
    div.menu {
        display: none;
    }

    .circle {
        display: none;
    }

    p {
        display: none;
    }

    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-100%, -50%);
        animation: none;
        -o-animation: none;
        -moz-animation: none;
        -webkit-animation: none;
        animation-delay: none;
        transition: none;

    }

    i::after {
        display: block;
        content: "Check it on desctop";
        position: absolute;
        top: 150%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(255, 255, 255, 0.6);
        font-family: 'Kumbh Sans', sans-serif;
        font-size: 30px;
        padding-top: 30px;
    }

    i:hover {
        font-size: 100px;
    }
}

@media (orientation:landscape) and (max-width:760px) {
    div.menu {
        display: none;
    }

    .circle {
        display: none;
    }

    p {
        display: none;
    }

    i {
        position: absolute;
        top: 50%;
        left: calc(50% - 50px);
        transform: translate(-50%, -50%);
        animation: none;
        -o-animation: none;
        -moz-animation: none;
        -webkit-animation: none;
        animation-delay: none;
        transition: none;

    }

    i::after {
        display: block;
        content: "Check it on desctop";
        position: absolute;
        color: rgb(255, 255, 255, 0.6);
        font-family: 'Kumbh Sans', sans-serif;
        font-size: 30px;
        padding-top: 30px;
    }

    i:hover {
        font-size: 100px;
    }
}
}



@media (max-width: 360px) {
    i {
        top: 25%;
        left: calc(50% - 35px);
        transform: translate(-50%, -25%);


    }



}