* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(58, 25, 88);
}

div.menu {
    position: relative;
    height: 100vh;
    width: 300px;
    background-image: linear-gradient(180deg, rgb(179, 29, 140, 50%), #374c92, rgb(116, 32, 121, 70%));
    animation: TransitioningBackground 15s ease infinite;
    -o-animation: TransitioningBackground 15s ease infinite;
    -moz-animation: TransitioningBackground 15s ease infinite;
    -webkit-animation: TransitioningBackground 15s ease infinite;
    background-size: 400% 400%;
    overflow: hidden;
    border-radius: 0 5px 5px 0;
    box-shadow: rgb(0, 0, 0, 0.5) 0px 0px 100px 0px,
        rgb(255, 255, 255, 0.5) 0px 0px 100px -60px;

}

ul {
    position: absolute;
    width: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;

}

li {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin-top: 20px;

}

li:nth-child(1) {
    margin-top: 60px;
}

li::after {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 80px;
    background: rgba(255, 255, 255, 0.5);
    filter: blur(40px);
    -webkit-filter: blur(40px);
    transform: skewX(-50deg);
    -o-transform: skewX(-50deg);
    -ms-transform: skewX(-50deg);
    -moz-transform: skewX(-50deg);
    -webkit-transform: skewX(-50deg);
    top: 0;
    left: -150px;
    transition: 2s;
    -o-transition: 2s;
    -webkit-transition: 2s;
    transition-delay: .1s;
}

li::before {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 80px;
    background: rgba(255, 255, 255, 0.5);
    filter: blur(40px);
    -webkit-filter: blur(40px);
    transform: skewX(-50deg);
    -o-transform: skewX(-50deg);
    -ms-transform: skewX(-50deg);
    -moz-transform: skewX(-50deg);
    -webkit-transform: skewX(-50deg);
    top: 0;
    left: -150px;
    transition: 2s;
    -o-transition: 2s;
    -webkit-transition: 2s;

}

li:hover {

    font-size: 1.2rem;
    font-weight: 700;
}

li:hover::after,
li:hover::before {
    left: 150%;
}

@keyframes TransitioningBackground {
    0% {
        background-position: 1% 0%;
    }

    50% {
        background-position: 90% 100%;
    }

    100% {
        background-position: 1% 0%;
    }
}

ul li a {
    text-decoration: none;
    text-transform: uppercase;
    line-height: 80px;
    color: rgb(255, 240, 255);
    letter-spacing: 4px;
    transition: 1s;
}

div.circle-box {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}


p {
    position: absolute;
    text-align: center;
    width: 40vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12vh;
    opacity: 1;
    color: rgb(255, 255, 255, 0.6);
    text-shadow: 2px 2px 3px rgb(0, 0, 0, 0.3);
    line-height: 15vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 300;
    animation: text 5s linear forwards;
    -o-animation: text 5s linear forwards;
    -moz-animation: text 5s linear forwards;
    -webkit-animation: text 5s linear forwards;
    animation-delay: 2s;

}

span {
    font-size: 15vh;
    font-weight: 700;
    animation: text 5s linear forwards;
    animation-delay: 2s;
}


i {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: rgb(23, 23, 23);
    animation: font 1s backwards;
    -o-animation: font 1s backwards;
    -moz-animation: font 1s backwards;
    -webkit-animation: font 1s backwards;
    animation-delay: 7s;
    transition: .5s;
}

i:hover {
    font-size: 120px;
}

@keyframes text {


    100% {
        line-height: 1vh;
        opacity: 0;
    }
}

@keyframes font {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}


@media (max-width: 1024px) {

    div.menu {
        width: 200px;
    }

    ul {
        margin-top: 5px;
    }

    li {
        font-size: 12px;
        margin-top: 5px;
    }

    li:nth-child(1) {
        margin-top: 10px;
    }
}



@media (max-width: 640px) {
    div.menu {
        display: none;
    }


    p {
        display: none;
    }


}

@media (orientation:landscape) and (max-width:860px) {
    div.menu {
        display: none;
    }

    p {
        display: none;
    }

    i {
        position: relative;
        font-size: 20vh;
        top: 50%;
        left: 50%;
        transform: translate(-100%, -50%);
        animation: none;
        -o-animation: none;
        -moz-animation: none;
        -webkit-animation: none;
        animation-delay: none;
        transition: none;

    }

    i::after {
        display: block;
        content: "Check it on desctop";
        position: absolute;
        top: 150%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(255, 255, 255, 0.6);
        font-family: 'Kumbh Sans', sans-serif;
        font-size: 6vh;

    }

    i:hover {
        display: none;
    }
}